/* Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
/* Font Import*/


/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Global Styles */

/* Directions */
.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}
/* Directions */

/* Display */
.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.displayInline {
    display: inline;
}

.displayInlineBlock {
    display: inline-block;
}
/* Display */

/* Flex */
.displayFlex {
    display: flex;
}

.flexNone {
    flex: none;
}

.flexColumn {
    flex-direction: column;
}

.flexRow {
    flex-direction: row;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexNoWrap {
    flex-wrap: nowrap;
}

.itemsStart {
    align-items: flex-start;
}

.itemsEnd {
    align-items: flex-end;
}

.itemsCenter {
	align-items: center;
}

.itemsBaseline {
	align-items: baseline;
}

.itemsStretch {
	align-items: stretch;
}

.contentStart {
    justify-content: flex-start;
}

.contentCenter {
    justify-content: center;
}

.contentEnd {
    justify-content: flex-end;
}

.contentBetween {
    justify-content: space-between;
}

.contentAround {
    justify-content: space-around;
}

.contentEvenly {
    justify-content: space-evenly;
}
/* Flex */

